@charset "utf-8";

* { margin: 0 auto; padding: 0; list-style: none; font-family: "맑은 고딕"; color: #333333; }
body { width: 1000px; background-color: #ffffff; font-size: 20px; }
a { display: block; text-decoration: none; }
.clearfix::before, .clearfix::after { display: block; content: ''; clear: both; }


header {
    width: 200px;
    height: 650px;
    float: left;
}
.top {
    width: 200px;
    height: 650px;
}
.logo {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 25px 0;
    background-color: #eeeeee;
    text-align: center;
}

.menu {
    float: left;
    width: 200px;
}
.navi {
    width: 200px;
}
.navi>li {
    position: relative;
    width: 160px;
    line-height: 40px;
    text-align: center;
    margin: 0 20px;
}
.navi>li>a {
    width: 100%;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    background-color: #bbbbbb;
}
.navi>li:hover>a {
    background-color: #555555;
    color: #ffffff;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 160px;
}
.submenu>li {
    width: 140px;
    line-height: 40px;
}
.submenu>li>a {
    background-color: #eeeeee;
    font-size: 14px;
}
.submenu>li:hover>a {
    font-weight: bold;
    text-decoration: underline;
}