@charset "utf-8";

* { margin: 0 auto; padding: 0; list-style: none; font-family: "맑은 고딕"; color: #333333; }
body { width: 1200px; background-color: #ffffff; font-size: 20px; }
a { display: block; text-decoration: none; }
.clearfix::before, .clearfix::after { display: block; content: ''; clear: both; }


header {
    width: 1200px;
    height: 100px;
}
.top {
    position: relative;
    width: 1200px;
    height: 100px;
}
.logo {
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #eeeeee;
}

.menu {
    float: right;
    width: 740px;
    height: 100px;
}
.navi {
    position: absolute;
    top: 50px;
    right: 20px;
}
.navi>li {
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.navi>li>a {
    background-color: #dddddd;
    font-size: 16px;
    font-weight: bold;
}
.navi>li:hover>a {
    background-color: #aaaaaa;
    color: #ffffff;
}

.submenu {
    display: none;
    height: 160px;
    background-color: #eeeeee;
}
.submenu>li {
    width: 180px;
    height: 40px;
    line-height: 40px;
}
.submenu>li>a {
    background-color: #eeeeee;
    font-size: 14px;
}
.submenu>li:hover>a {
    font-weight: bold;
    text-decoration: underline;
}